
/* Move Menu */
#move-menu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 2cqh;
    padding: 3cqh;
    box-sizing: border-box;
    background-color: #2b2520;
    /* Scanlines */
    background-image: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3) 0.5cqh,
        transparent 0.5cqh,
        transparent 1cqh
    );
    align-items: top;
    position: relative;
}

#move-preview-container {
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Transformation to look like the reference */
    transform: perspective(80cqh) rotateY(10deg);
    border: 0.6cqh solid #FFF;
    background-color: #000;
    overflow: hidden;
    box-shadow: 2cqh 2cqh 2cqh rgba(0,0,0,0.5);
}

#move-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#move-list {
    display: flex;
    flex-direction: column;
    gap: 3cqh;
    width: 100%;
    height: 85%;
    justify-content: center;
    padding-right: 4cqh;
    box-sizing: border-box;
}

/* Move Buttons */
.move-btn {
    background-color: #FFF; /* Light cream/white */
    color: #3e1f0b !important;
    font-family: 'Seurat', sans-serif;
    font-size: 5cqh;
    border: 0.4cqh solid #3e1f0b !important; /* Dark brown border */
    border-radius: 1cqh;
    cursor: pointer;
    position: relative;
    text-align: center;
    box-shadow: 0 1cqh 1cqh rgba(0,0,0,0.5);
    transition: all 0.1s;
}

