#textbox-container {
    position: absolute;
    bottom: 3%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 23%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: var(--z-layer-foreground);
    border: 0.4cqw solid rgba(255, 255, 255, 0.8);
    border-radius: 1cqw;
    box-sizing: border-box;
    padding: 2cqw;
}

#textbox-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#name-tag {
    --name-tag-text-scale-x: 1;
    background-color: rgba(100, 100, 255, 0.8);
    color: white;
    padding: 0.1cqw 0.3cqw;
    border: 0.4cqw solid rgba(255, 255, 255, 0.8);
    border-radius: 1cqw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 2cqw;
    width: 15cqw;
    position: absolute;
    top: -3.5cqw;
    left: -0.3cqw;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'FOT-SeuratPro-B', 'Arial', sans-serif;
    z-index: var(--z-layer-title-content);
}

#name-tag .name-tag-text {
    display: inline-block;
    white-space: nowrap;
    transform: scaleX(var(--name-tag-text-scale-x));
    transform-origin: center center;
}

#text-content {
    font-family: 'FOT-SeuratPro-M', 'Arial', sans-serif;
    color: white;
    font-size: 2.8cqw;
    line-height: 1.2;
}

#textbox-container.no-name #text-content {
    margin-top: 0;
}