#gavel {
    z-index: 4;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    opacity: 0;
    transform-origin: center;
}

.gavel-swing {
    animation: gavel-swing-anim cubic-bezier(0.18, 0.9, 0.32, 1.12) forwards;
}

@keyframes gavel-swing-anim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}